<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<h2>Регистрация</h2>

<form th:action="@{/auth/registration}" method="post" th:object="${user}">
    <label for="email">Email:</label>
    <input type="text" th:field="*{email}" id="email"/><br/>

    <label for="password">Пароль:</label>
    <input type="password" th:field="*{password}" id="password"/><br/>

    <input type="submit" value="Зарегистрироваться"/>
</form>

<div th:if="${error}" style="color:red" th:text="${error}"></div>

<a href="/auth/login">Назад к входу</a>

</body>
</html>
